<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style-dash.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
    
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var audio = new Audio('Moonlike Smile_7b4obknFj4c.mp3');
      audio.play();
    });
  </script>
 
  </head>
  <body style="background-color: #435165;">
      <marquee behaviour="scroll" direction="right" scrollamount="20"><h1 class="divTitle">Success :D</h1></marquee>
      <center><h1 class ="divSub">Hello Friend~ :D</h2></center>
  </div>
  </body>
</html>
